__pycache__/
*.py[cod]
*$py.class
*.so
pip-log.txt
pip-delete-this-directory.txt
*.log
.python-version
__pypackages__/
.prof
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
etc/udev/rules.d/20-network.rules
