#!/usr/bin/false
# System Management Daemon - Spaceport
# iDigitalFlame
#
# Systemd-networkd Configuration to disable auto configurion by Networkd.
# Let NetworkManager Handle that shit. (Matches all Interfaces)

[Match]
Name        = *

[Network]
Unmanaged   = yes
