# System Management Daemon - Spaceport
# iDigitalFlame 2018
#
# Systemd Unit file for the System Management Daemon Hibernate Pre Trigger.

[Unit]
Description = System Management Daemon Pre-Hibernate Trigger
Before      = sleep.target

[Service]
Type        = forking
ExecStart   = /opt/spaceport/libexec/smd-hibernate-pre

[Install]
WantedBy    = sleep.target
