################################
### iDigitalFlame  2016-2025 ###
#                              #
#            -/`               #
#            -yy-   :/`        #
#         ./-shho`:so`         #
#    .:- /syhhhh//hhs` `-`     #
#   :ys-:shhhhhhshhhh.:o- `    #
#   /yhsoshhhhhhhhhhhyho`:/.   #
#   `:yhyshhhhhhhhhhhhhh+hd:   #
#     :yssyhhhhhyhhhhhhhhdd:   #
#    .:.oyshhhyyyhhhhhhddd:    #
#    :o+hhhhhyssyhhdddmmd-     #
#     .+yhhhhyssshdmmddo.      #
#       `///yyysshd++`         #
#                              #
########## SPACEPORT ###########
### Spaceport + SMD
## SSH Daemon Configuration
#
# Copyright (C) 2016 - 2025 iDigitalFlame
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#

MACs                            hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com
Port                            22
UsePAM                          yes
Ciphers                         chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
HostKey                         /etc/ssh/ssh_host_rsa_key
HostKey                         /etc/ssh/ssh_host_ed25519_key
Protocol                        2
PermitTTY                       yes
PrintMotd                       no
Subsystem                       sftp /usr/lib/ssh/sftp-server
Compression                     no
MaxStartups                     10:30:100
GatewayPorts                    no
IgnoreRhosts                    yes
PermitTunnel                    no
TCPKeepAlive                    yes
AddressFamily                   any
KexAlgorithms                   curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
ListenAddress                   127.0.0.1
LoginGraceTime                  1m
PermitRootLogin                 no
AllowTcpForwarding              no
AuthorizedKeysFile              .ssh/no_keys
ClientAliveCountMax             0
ClientAliveInterval             600
AllowAgentForwarding            no
IgnoreUserKnownHosts            no
PermitEmptyPasswords            no
PubkeyAuthentication            no
KerberosAuthentication          no
PasswordAuthentication          no
HostbasedAuthentication         no
KbdInteractiveAuthentication    no
ChallengeResponseAuthentication no
