################################
### iDigitalFlame  2016-2026 ###
#                              #
#            -/`               #
#            -yy-   :/`        #
#         ./-shho`:so`         #
#    .:- /syhhhh//hhs` `-`     #
#   :ys-:shhhhhhshhhh.:o- `    #
#   /yhsoshhhhhhhhhhhyho`:/.   #
#   `:yhyshhhhhhhhhhhhhh+hd:   #
#     :yssyhhhhhyhhhhhhhhdd:   #
#    .:.oyshhhyyyhhhhhhddd:    #
#    :o+hhhhhyssyhhdddmmd-     #
#     .+yhhhhyssshdmmddo.      #
#       `///yyysshd++`         #
#                              #
########## SPACEPORT ###########
### Spaceport + SMD
## SMD Daemon Unit
#
# Copyright (C) 2016 - 2026 iDigitalFlame
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#

[Unit]
Description             = System Management Daemon

[Service]
Type                    = simple
UMask                   = 0077
ExecStart               = /usr/lib/smd/libexec/smd-daemon --journal
MemoryKSM               = true
KillSignal              = SIGINT
MountFlags              = shared
PrivateTmp              = true
ProcSubset              = all
Environment             = PYTHONOPTIMIZE=2
Environment             = PYTHONPYCACHEPREFIX="/var/cache/python"
KeyringMode             = private
PrivatePIDs             = false
ProtectHome             = read-only
ProtectProc             = default
ExecStartPre            = -/usr/bin/mkdir -p /opt/hydra/smd-backup /var/cache/smd
PrivateUsers            = false
ProtectClock            = false
PrivateMounts           = false
ProtectSystem           = full
PrivateDevices          = false
ReadWritePaths          = /mnt /opt/hydra /var/cache/smd /var/run/mount
LockPersonality         = true
NoNewPrivileges         = true
ProtectHostname         = true
RestrictRealtime        = true
RestrictSUIDSGID        = true
SystemCallFilter        = ~@debug
SystemCallFilter        = ~@obsolete
ProtectKernelLogs       = true
RestrictNamespaces      = true
ProtectControlGroups    = true
ProtectKernelModules    = true
CapabilityBoundingSet   = ~CAP_BPF
CapabilityBoundingSet   = ~CAP_LEASE
CapabilityBoundingSet   = ~CAP_SYSLOG
CapabilityBoundingSet   = ~CAP_SETFCAP
CapabilityBoundingSet   = ~CAP_SETPCAP
CapabilityBoundingSet   = ~CAP_PERFMON
CapabilityBoundingSet   = ~CAP_SYS_BOOT
CapabilityBoundingSet   = ~CAP_SYS_TIME
CapabilityBoundingSet   = ~CAP_IPC_OWNER
CapabilityBoundingSet   = ~CAP_SYS_PACCT
CapabilityBoundingSet   = ~CAP_MAC_ADMIN
CapabilityBoundingSet   = ~CAP_SYS_PTRACE
CapabilityBoundingSet   = ~CAP_SYS_MODULE
CapabilityBoundingSet   = ~CAP_AUDIT_READ
CapabilityBoundingSet   = ~CAP_AUDIT_WRITE
CapabilityBoundingSet   = ~CAP_SYS_RESOURCE
CapabilityBoundingSet   = ~CAP_MAC_OVERRIDE
CapabilityBoundingSet   = ~CAP_AUDIT_CONTROL
CapabilityBoundingSet   = ~CAP_SYS_TTY_CONFIG
CapabilityBoundingSet   = ~CAP_LINUX_IMMUTABLE
CapabilityBoundingSet   = ~CAP_CHECKPOINT_RESTORE
ProtectKernelTunables   = false
MemoryDenyWriteExecute  = true
RestrictAddressFamilies = AF_INET AF_INET6 AF_NETLINK AF_UNIX
SystemCallArchitectures = native

[Install]
WantedBy                = multi-user.target
