################################
### iDigitalFlame  2016-2024 ###
#                              #
#            -/`               #
#            -yy-   :/`        #
#         ./-shho`:so`         #
#    .:- /syhhhh//hhs` `-`     #
#   :ys-:shhhhhhshhhh.:o- `    #
#   /yhsoshhhhhhhhhhhyho`:/.   #
#   `:yhyshhhhhhhhhhhhhh+hd:   #
#     :yssyhhhhhyhhhhhhhhdd:   #
#    .:.oyshhhyyyhhhhhhddd:    #
#    :o+hhhhhyssyhhdddmmd-     #
#     .+yhhhhyssshdmmddo.      #
#       `///yyysshd++`         #
#                              #
########## SPACEPORT ###########
### Spaceport + SMD
## SMD Daemon Unit
#
# Copyright (C) 2016 - 2024 iDigitalFlame
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#

[Unit]
Description             = System Management Daemon

[Service]
Type                    = simple
UMask                   = 0027
ExecStart               = /usr/lib/smd/libexec/smd-daemon -j
ProcSubset              = all
KillSignal              = SIGINT
PrivateTmp              = true
MountFlags              = shared
ProtectProc             = default
KeyringMode             = private
ProtectHome             = read-only
ProtectClock            = false
PrivateUsers            = false
ExecStartPre            = -/usr/bin/mkdir -p /opt/hydra/smd-backup /var/cache/smd
PrivateMounts           = false
ProtectSystem           = full
ReadWritePaths          = /var/cache/smd /opt/hydra /mnt /var/run/mount
PrivateDevices          = false
NoNewPrivileges         = true
LockPersonality         = true
RestrictRealtime        = true
RestrictSUIDSGID        = true
ProtectKernelLogs       = true
RestrictNamespaces      = true
ProtectControlGroups    = true
ProtectKernelModules    = true
ProtectKernelTunables   = false
MemoryDenyWriteExecute  = true
RestrictAddressFamilies = AF_INET AF_INET6 AF_NETLINK AF_UNIX
SystemCallArchitectures = native

[Install]
WantedBy                = multi-user.target
